body > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    height: 300px;
    background-color: antiquewhite;
}

p {
    font-size: 2rem;
    font-style: italic;
}

button {
    height: 70px;
    width: 150px;
    border: 1px solid black;
    font-style: italic;
    box-shadow: 0px 4px 0px 3px rgb(0, 0, 0);
}

button:hover {
    background-color: rgb(229, 245, 245);
}

button:active {
    transform: translateY(3px);
    box-shadow: 0px 4px 0px 3px rgb(0, 0, 0) ;
}
.container > div {
    display: flex;
    gap: 1rem;
}

button.rock {
    background-color: grey;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

button.paper {
    background-color: white;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

button.scissor {
    background-color: rgb(218, 213, 213);
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

.result {
    display: flex;
    height: 300px;
    flex-direction: column;
    border: 3px solid black;
    justify-content: space-around;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    align-items: center;
    background-color: rgb(82, 108, 108);
}

.score {
    display: flex;
    gap: 3rem;
}

.player {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    height: 90px;
    justify-content: center;
    color: white;
    background-color: black;
    border: 2px solid white;   
}

.computer {
    width: 280px;
    height: 90px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 254, 254);
}